body, html{
    height: 100%;
    margin: 0;
    font-family: roboto;
}
.container{
    display: inline-grid;
    grid-template: 100px 100px 500px 100px / 300px 900px;
    height: 100%;
    box-sizing: border-box;
}   

.sidebar{
    background-color: rgb(25, 146, 212);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}
.header{
    background-color: lightpink;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.nav{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.body{
    background-color: lightgrey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.dash-list{
    padding-top: 30px;
}

li{
    list-style-type: none;
    padding: 8px;
    color: white; 
}
.extra-list{
    padding-top: 30px;
}

.dash-heading{
    padding-left: 40px;
    padding-top: 10px;
    font-size: 20px;
    color: white;
}

.hi-there{
    font-size: 20px;
    flex-grow: .5;
    
}

.nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 100%;
    align-items:center;
    justify-content: flex-end;
    padding-right: 10px;
}

button{
    background-color: rgb(25, 146, 212);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px;
    flex-grow: .1;
}

img{
    width: 70px;
    border: solid black;
    border-radius: 50%;
}
