body, html{
    height: 100%;
    margin: 0;
}
.container{
    display: inline-grid;
    grid-template: 100px 100px 500px 100px / 300px 900px;
    height: 100%;
    box-sizing: border-box;
}   

.sidebar{
    background-color: lightblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}
.header{
    background-color: lightpink;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.nav{
    background-color: lightgreen;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.body{
    background-color: lightgrey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
